.register-comopnent-header{
    text-align: center;
    color: rgb(123, 185, 247);
}

.register-button{
    background-color: rgb(123, 185, 247);
    color: white;
    margin-right: 1em;
}

.register-form-input{
    margin-bottom: 1em;
}