<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <h2 class="register-comopnent-header">Register</h2>

    <div class="mb-3">
        <label class="margin-right:20px">My gender: </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input ms-3" value="male" formControlName="gender">Male
        </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input ms-3" value="female" formControlName="gender"> Female
        </label>
    </div>

    <app-text-input [formControl]="$any(registerForm.controls['username'])" [label]="'Username'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['knownAs'])" [label]="'Known As'"></app-text-input>
    <app-date-picker [formControl]="$any(registerForm.controls['dateOfBirth'])"
        [label]="'Date of Birth'"></app-date-picker>
    <app-text-input [formControl]="$any(registerForm.controls['city'])" [label]="'City'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['country'])" [label]="'Country'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'Password'"
        [type]="'password'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [label]="'Confirm Password'"
        [type]="'password'"></app-text-input>
    <div class="text-center">
        <button [disabled]="!registerForm.valid" class="register-button btn" type="submit">Register</button>
        <button class="register-button btn" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>